{% extends "base.html" %}
{% block content %}
  <h2>Задачи</h2>

  <div class="card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Статус</th>
          <th>Создан</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for j in jobs %}
        <tr>
          <td>{{ j.id }}</td>
          <td>{{ j.status }}</td>
          <td class="muted">{{ j.created_at | format_dt }}</td>
          <td><a href="/jobs/{{ j.id }}">Открыть</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}